@import "tailwindcss";

@theme {
  --color-brand-50: #fdf2f2;
  --color-brand-100: #EBC3C1;
  --color-brand-200: #DEA7A7;
  --color-brand-300: #D08C8C;
  --color-brand-400: #B67474;
  --color-brand-500: #9D5C5C;
  --color-brand-600: #844343;
  --color-brand-700: #6B2B2B;
  --color-brand-800: #541E1E;
  --color-brand-900: #3E1212;
  --color-brand-950: #2A0A0A;
}

:root {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#root {
  @apply overflow-x-hidden;
}

body {
  @apply bg-white text-gray-800 antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes marqueeVertical {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-vertical {
  animation: marqueeVertical 20s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}